@model IEnumerable<Enchere.Models.RaportModelEval>

@{
    ViewBag.Title = "GetListeEvalMembre";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>GetListeEvalMembre</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Membre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NbrEval)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CotePo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Membre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NbrEval)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CotePo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
