@model Enchere.Models.Objet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Objet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.objetNom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.objetNom)
        </dd>

        <dt>        
            @Html.DisplayNameFor(model => model.objetDescription)
        </dt>

        <dd>
            @Html.Raw(HttpUtility.HtmlDecode(Html.DisplayFor(model => model.objetDescription).ToString()))
           
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.objetPrixDepart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.objetPrixDepart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.objetDateInsc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.objetDateInsc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.objetDureeVente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.objetDureeVente)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.objetDateAchat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.objetDateAchat)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.objetImage)
        </dt>

        <dd>
            <img src="~/Uploads/@Html.DisplayFor(model => model.objetImage)" class="thumbnail" style="width:48px;height:48px;"/>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
