@model IEnumerable<Enchere.Models.Objet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Gestion des objects</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="objetable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Category.CategoryName)*@
                Catégorie
            </th>
            <th>
                @Html.DisplayNameFor(model => model.objetNom)
            </th>
            <th>

                @Html.DisplayNameFor(model => model.objetDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.objetPrixDepart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.objetDateInsc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.objetDureeVente)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.objetDateAchat)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.objetImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.objetNom)
                </td>
                <td>

                    @Html.Raw(HttpUtility.HtmlDecode(Html.DisplayFor(modelItem => item.objetDescription).ToString()))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.objetPrixDepart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.objetDateInsc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.objetDureeVente)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.objetDateAchat)
                </td>*@
                <td>
                    <img src="~/Uploads/@Html.DisplayFor(model => item.objetImage)" class="thumbnail"
                         style="width:48px;height:48px;" />
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>

        $(document).ready(function () {
            
            $('#objetable').DataTable(
                { dom: 'Blfrtip', buttons: [{ extend: 'csv', exportOptions: { columns: [':visible'] } }, { extend: 'print', exportOptions: { columns: [':visible'] } }, { extend: 'copyHtml5', exportOptions: { columns: [':visible'] } }, { extend: 'excelHtml5', exportOptions: { columns: [':visible'] } }, { extend: 'pdfHtml5', exportOptions: { columns: [':visible'] } }, [{ extend: 'colvis', postfixButtons: ['colvisRestore'] }]], "pageLength": -1, "lengthMenu": [[10, 50, 100, 500, 1000, -1], [10, 50, 100, 500, "1000", "All"]], "language": {
                    "lengthMenu": "Montrer _MENU_ Afficher par page",
                    "zeroRecords": "Rien trouvé - Désolé",
                    "info": "Montrer page _PAGE_ of _PAGES_",
                    "infoEmpty": "Pas d'enregistrement disponible",
                    "infoFiltered": "(filtered from _MAX_ total records)"
                }}

                );
            //$('label').contents()[0].html("Voir");
        });
    </script>
}

