@model IEnumerable<Enchere.Models.Encheree>

@{
    ViewBag.Title = "SyntheseAnnuelleVente";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Synthese annuelle des ventes</h2>


<table class="table" id="synthese">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.objet.objetNom)
            </th>
            <th>
                Prix Départ
            </th>
            <th>
                Date inscription
            </th>
            <th>
                Prix vente
            </th>
            <th>
                Date vente
            </th>
            <th>
                Nom Vendeur
            </th>
            <th>
                Nom Acheteur
            </th>
            <th>
                Commission 19%
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.objet.objetNom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.objet.objetPrixDepart) $
                </td>
                <td>
                    @(item.objet.objetDateInsc.ToString("MM/dd/yyyy"))


                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.niveauMax) $
                </td>
                <td>
                    @(item.objet.objetDateInsc.AddDays(item.objet.objetDureeVente).ToString("MM/dd/yyyy"))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.objet.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user.UserName)

                </td>
                <td style="text-align:right">
                    @{
                        var prix = @item.niveauMax;
                        prix *= 0.19; } @prix $
                    </td>
                </tr>
            }
    </tbody>
</table>
<br />
<h3> Total commission sur les ventes </h3><span id="totalCom" style="font-size:20px; border-style: outset;
    border-color: coral;
    border-width: 7px;"></span>

<script>

    $(document).ready(function () {

        $('#synthese').DataTable(
            {
                dom: 'Blfrtip', buttons: [{ extend: 'csv', exportOptions: { columns: [':visible'] } }, { extend: 'print', exportOptions: { columns: [':visible'] } }, { extend: 'copyHtml5', exportOptions: { columns: [':visible'] } }, { extend: 'excelHtml5', exportOptions: { columns: [':visible'] } }, { extend: 'pdfHtml5', exportOptions: { columns: [':visible'] } }, [{ extend: 'colvis', postfixButtons: ['colvisRestore'] }]], "pageLength": -1, "lengthMenu": [[10, 50, 100, 500, 1000, -1], [10, 50, 100, 500, "1000", "All"]], "language": {
                    "lengthMenu": "Montrer _MENU_ Afficher par page",
                    "zeroRecords": "Rien trouvé - Désolé",
                    "info": "Montrer page _PAGE_ de _PAGES_",
                    "infoEmpty": "Pas d'enregistrement disponible",
                    "infoFiltered": "(filtered from _MAX_ total records)"
                }
            }

        );
        //$('label').contents()[0].html("Voir");
    });

    var comission = [];

    

        @foreach (var item in Model){

           
                 @:comission.push("@item.niveauMax");
                     
                }

    var total = 0;
    for (let i = 0; i<comission.length; i++) {
        total += parseInt(comission[i]);
        console.log(comission[i]);
        console.log("total = "+total);
    }
    document.getElementById("totalCom").innerHTML = (total*0.19) + " $";
</script>