@model Enchere.Models.ObjetViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>@Html.DisplayFor(model => model.monObjet.objetNom)</h2>
<div class="container">
    <div class="container col-md-3 img-thumbnail" style="width:50% ; float:left">
        <div class="dl-horizontal ">
            @*<h4 class="dl-horizontal">@Html.DisplayFor(model => model.monObjet.Category.CategoryName)</h4>*@
           <p class="demo notranslate" id="CountDown">
            <dl>
                @*<dt>
                        @Html.DisplayNameFor(model => model.monObjet.objetImage)
                    </dt>*@
                <dd>
                    <img src="~/Uploads/@Html.DisplayFor(model => model.monObjet.objetImage)" style="width:50%;height:50%;" />
                </dd>
                <dt>
                    @*@Html.DisplayNameFor(model => model.monObjet.Category.CategoryName)*@
                    Catégorie
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.monObjet.Category.CategoryName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.monObjet.objetNom)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.monObjet.objetNom)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.monObjet.objetDescription)
                </dt>

                <dd>
                    @Html.Raw(HttpUtility.HtmlDecode(Html.DisplayFor(model => model.monObjet.objetDescription).ToString()))
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.monObjet.objetPrixDepart) Initial
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.monObjet.objetPrixDepart) $
                </dd>

                <dt>
                    @*@Html.DisplayNameFor(model => model.monObjet.objetDateInsc)*@
                    Date dépôt
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.monObjet.objetDateInsc)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.monObjet.objetDureeVente)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.monObjet.objetDureeVente) jours
                </dd>

                @*<dt>
                        @Html.DisplayNameFor(model => model.monObjet.objetDateAchat)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.monObjet.objetDateAchat)
                    </dd>*@



            </dl>
        </div>
        <p>
            @Html.ActionLink("Enchérir", "Appliquer", "Encherees", new { id = Model.monObjet.Id }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Retour à la liste", "Index", new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="container" style="width:50%; float:right">
        <h4>Historique Enchères</h4>
        <table id="userstable" class="table" style="width:100%">
            <thead>
                <tr>
                    <th>Montant</th>
                    <th>Date</th>
                    <th>Enchireur</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                <tr>
                    <td>

                        @Html.DisplayFor(modelItem => item.enchereNiveau) $
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.enchereDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.user.UserName)
                    </td>
                    @*@Html.DisplayFor(modelItem => item.user.UserName)
        <br />*@
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
        // Update the count down every 1 second
        var x = setInterval(function () {

            // Set the date we're counting down to
            var countDownDate = new Date("@Model.monObjet.objetDateInsc.AddDays(Model.monObjet.objetDureeVente).ToString("MM dd yyyy HH:MM:ss")").getTime();
           
            // Get todays date and time
            var now = new Date().getTime();

            // Find the distance between now an the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            document.getElementById("CountDown").innerHTML = days + "J " + hours + "h "
                    + minutes + "m " + seconds + "s ";

            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("CountDown").innerHTML = "EXPIRED";
            }
        }, 1000);
</script>
