@model Enchere.Models.ObjetViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Details</h2>

<div class="w3-display-left" style="width:70%">
    <div class="dl-horizontal">
        <h4  class="dl-horizontal">@Html.DisplayFor(model => model.monObjet.Category.CategoryName)</h4>
        <dl>

            <dt>
                @Html.DisplayNameFor(model => model.monObjet.Category.CategoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.monObjet.Category.CategoryName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.monObjet.objetNom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.monObjet.objetNom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.monObjet.objetDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.monObjet.objetDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.monObjet.objetPrixDepart)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.monObjet.objetPrixDepart)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.monObjet.objetDateInsc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.monObjet.objetDateInsc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.monObjet.objetDureeVente)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.monObjet.objetDureeVente)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.monObjet.objetDateAchat)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.monObjet.objetDateAchat)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.monObjet.objetImage)
            </dt>

            <dd>
                <img src="~/Uploads/@Html.DisplayFor(model => model.monObjet.objetImage)" class="thumbnail" style="width:128px;height:128px;" />
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Choisir cette objet", "Appliquer", "Encherees", new { id = Model.monObjet.Id }, new { @class = "btn btn-success" }) |
        @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-default" })
    </p>
</div>
<div class="w3-display-right" style="width:30%">
    <h4>Historique Enchères</h4>
    <dl>
        @foreach (var item in Model.Items)
    {
        <dt>
            @Html.DisplayFor(modelItem => item.enchereNiveau) $
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.enchereDate)
        </dd>
            @*@Html.DisplayFor(modelItem => item.user.UserName)
            <br />*@

            }
    </dl>

</div>

