<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Enchères Munarela</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!--dependences datatable-->
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
    <script src='https://code.jquery.com/jquery-1.12.4.js'></script>
    <script src='https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js'></script>

    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.colVis.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js "></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.9.0.custom.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.9.0.custom.js"></script> 
    

    <style>
        .ui-autocomplete {
            max-height: 600px;
            overflow-y: auto;
            overflow-x: hidden;
        }
    </style>

    <style>
        .goog-te-banner-frame.skiptranslate {
            display: none !important;
        }

        body {
            top: 0px !important;
        }
    </style>

</head>
<body>

    <!--navbar-->
    <!--navbar-->

    <nav class="navbar navbar-default navbar-fixed-top">

        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/Home" class="navbar-brand">
                    <img src="~/images/logoEncheres.png" style="height:60px;width:auto" class="logo" />
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="~/Home">
                            <i class="glyphicon glyphicon-home"></i>
                            home
                        </a>
                    </li>

                    <li>
                        <a href="~/Home/About">
                            <i class="glyphicon glyphicon-info-sign"></i>
                            A propos de nous
                        </a>
                    </li>



                    <li>
                        <a href="~/Home/Contact">
                            <i class="glyphicon glyphicon-envelope"></i>
                            contacter nous
                        </a>
                    </li>
                    @*<li>
                        <a href="#">
                            <i class="glyphicon glyphicon-time"></i>
                            @DateTime.Now
                           
                        </a>
                    </li>*@

                    @*<li>
            @using (Html.BeginForm("Recherche", "Home", FormMethod.Post))
            {

                <input type="text" name="searchName" id="searchName"
                       placeholder="Rechercher ici.." />


            }


        </li>*@


                </ul>

                @Html.Partial("_Login");

            </div>
        </div>
    </nav>

    <div class="container divrender">
        <div class="row" style="min-height:550px;">

            @RenderBody()

        </div>



    </div>

    <!--footer-->
    <footer class="myfooter">

        <div class="container">

            <div class="row">

                <div class="col-md-4">
                    <h3>
                        <i class="glyphicon glyphicon-question-sign"></i>
                        A propos de nous!
                    </h3>
                    <p>
                        Créer en 2018 par une équipe dynamique et enthoustiaste, Munarela est une solution d'enchéres pour pouvoir acquérir des objetcs avec une grande facilité et sans avoir à payer les frais d'expéditions et c'est une solution pour, pourquoi pas, faire des rencontres intéressantes

                    </p>

                </div>
                <div class="col-md-4">
                    <h3>
                        <i class="glyphicon glyphicon-globe"></i>
                        liens importants
                    </h3>

                    <ul>
                        <li><a href="https://www.cafr.ebay.ca/sch/Ventes-aux-ench%C3%A8res-/118257/i.html"> Ebay Enchéres </a> </li>
                        <li><a href="https://www.cmaisonneuve.qc.ca/"> Collège Maisonneuve  </a> </li>
                        <li><a href="http://app-1523809870.000webhostapp.com"> Munarela Voyage  </a> </li>
                        <li><a href="http://localhost:15640/Home/InfoLegales"> Infos Légales  </a> </li>

                    </ul>
                </div>

                <div class="col-md-4">
                    <h3>
                        <i class="glyphicon glyphicon-envelope"></i>
                        Rejoint Nous
                    </h3>

                    <ul>
                        <li><a href="https://www.facebook.com/"> facebook </a> </li>
                        <li><a href="https://twitter.com/"> tweeter  </a> </li>
                        <li><a href="https://www.youtube.com/"> Youtube  </a> </li>
                        <li><a href="http://localhost:15640/Home/Contact"> Laisser un commentaire  </a> </li>

                    </ul>
                </div>
            </div>


        </div>

        <div class="subfooter"><span>Tous les droits résèrves pour Munarela -@DateTime.Now.Year</span></div>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
@*<script>
   


        // Update the count down every 1 second
        var x = setInterval(function () {

            // Set the date we're counting down to

            //var countDownDate = new Date().getTime();

            // Get todays date and time
            var now = new Date().getTime();

            // Find the distance between now an the count down date
            //var distance = countDownDate - now;
            //console.log(i + 1 + " nboffres " + nbrOffres[i] + ", time :" + objets[i] + ", distance :" + distance + ",  countdown :" + countDownDate);
            // Time calculations for days, hours, minutes and seconds
            console.log(now);
            var days = Math.floor(now / (1000 * 60 * 60 * 24));
            var hours = Math.floor((now % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((now % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((now % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            document.getElementById("tempsActuel").innerHTML = days + "j " + hours + "h "
                    + minutes + "m " + seconds + "s ";

            // If the count down is finished, write some text
            //if (distance < 0) {
            //    clearInterval(x);
            //    var message = "EXPIRED";
            //    if (parseInt(nbrOffres[i]) > 1) { message = "VENDU" }
            //    document.getElementById("tempsActuel").innerHTML = message;
            //}
        }, 1000);
   
</script>*@